<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.butterfly.lab_08">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RegistrationActivity"
            android:parentActivityName=".Activities.MainActivity"/>
        <activity android:name=".Activities.OneActivity"
            android:parentActivityName=".Activities.MainActivity"/>
        <activity android:name=".Activities.TwoActivity"
            android:parentActivityName=".Activities.OneActivity"/>
        <activity android:name=".Activities.ThreeActivity"
            android:parentActivityName=".Activities.TwoActivity"/>
        <activity android:name=".Activities.FourActivity"
            android:parentActivityName=".Activities.ThreeActivity"/>
        <activity android:name=".Activities.FiveActivity"
            android:parentActivityName=".Activities.FourActivity"/>
        <activity android:name=".Activities.ListActivity"
            android:parentActivityName=".Activities.FiveActivity"/>
        <activity android:name=".Activities.ChangeActivity"/>
        <activity android:name=".Activities.AdminActivity"/>
        <activity android:name=".Activities.WindowActivity"
            android:parentActivityName=".Activities.AdminActivity"/>
    </application>

</manifest>